.App {
  text-align: center;
}

.login{
  background: url('./assets/backgroundLogin.jpg');
  background-size: 100em 50em;
  background-repeat: no-repeat;
}

.register{
  background: url('./assets/backgroundLogin.jpg');
  background-size: 100em 50em;
  background-repeat: no-repeat;
}