.App {
  text-align: center;
}

.login{
  background: url('./assets/backgroundLogin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.register{
  background: url('./assets/backgroundLogin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home{
  background-color: #4a697d;
  height: 872.3px;
  width: 1455px;
  background-size: cover;
}